.App {
  width: 100vw;
}
.outer-box {
  background-color: rgba(255, 255, 255, 0.568);
  border: 4px gold double;
  border-radius: 12%;
  margin: auto;
  width: 850px;
  height: 450px;
  box-shadow: -7px 0px 7px rgba(71, 71, 71, 0.555), 7px -7px 7px rgba(71, 71, 71, 0.555), inset 8px -8px 10px 3px rgba(109, 78, 0, 0.377),inset -8px 8px 10px 3px rgba(109, 78, 0, 0.377);
  margin-top: 15px;
  margin-bottom: 115px;
  position: relative;
}

#inner-box {
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#inner-box > h1 {
  font-size: 64px;
  text-align: center;
  margin:0;
  text-shadow: .45px .45px gold;
}

#inner-box > p {
  text-align: center;
  font-size: 24px;
  margin:0;
  text-shadow: .45px .45px gold;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.past-works-button {
    /* Our sidebar item styling */
  background-color: #008085;
  text-decoration: none;
  text-decoration: bold;
  text-align: center;
  font-size: 24px;
  border: 3px solid goldenrod;
  box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.459);
  border-radius: 30%;
  color: #00fff2;
  height: 120px;
  width: 150px;
  transition: color 1.3s;
}

.past-works-button:hover {
  color: gold;
  background-color: red;
}

.past-works-button:active {
  box-shadow: 0px 0px white;
  color: gold;
  background-color: red;
}

.past-works-output-box {
  border: 2px rgba(218, 165, 32, 0.171) double;
  width: 700px;
  font-size: 24px;
  text-shadow: 1px 1px 5px rgba(0, 27, 68, 0.74);
  margin: auto;
  height: 140px;
  background-color: rgba(218, 165, 32, 0.171);
}

.move-projects-left-button {
  height: 144px;
  width: 50px;
  color: #00fff2;
  border-radius: 100% 0px 0px 100%;
  border: 1px double goldenrod;
  background-color: #008085;
  transition: color .5s;
}

.move-projects-right-button {
  color: #00fff2;
  height: 144px;
  width: 50px;
  border-radius: 0 100% 100% 0;
  border: 2px double goldenrod;
  background-color: #008085;
  transition: color .5s;
}

.move-projects-right-button:hover {
  background-color: red;
  color: rgb(255, 225, 58);
}

.move-projects-left-button:hover {
  background-color: red;
  color: rgb(255, 225, 58);
}
.move-projects-right-button:active {
  background-color: goldenrod;
}

.move-projects-left-button:active {
  background-color: goldenrod;
}

.output-box-container {
  display: flex;
  justify-content: space-between;
  width: 800px;
  position: relative;
  left: 25px;
}

@media only screen and (max-width: 900px) {
  .outer-box {
    width: 700px;
  }

  .inner-box {
    width: 675px;
  }

  .output-box-container {
    width: 650px;
  }

  .past-works-output-box {
    width: 650px;
    font-size: 20px;
    margin: auto;
  }
  .button-container {
    width: 700px;
    margin-right: auto;
  }

  .past-works-button {
  font-size: 20px;
  height: 100px;
  width: 130px;
  
  }

  #inner-box > h1 {
    font-size: 48px;
    width: 83%;
  }

  #inner-box > p {
    width: 83%;
    font-size: 18x;
  }
}

@media only screen and (max-width: 600px) {
  .outer-box {
    width: 300px;
  }

  #inner-box {
    width: 275px;
  }

  #inner-box > p {
    text-align: center;
    font-size: 18px;
    margin:0;
    text-shadow: .45px .45px gold;
  }
  .output-box-container {
    width: 250px;
  }

  .past-works-output-box {
    width: 250px;
    font-size: 12px;
    margin: auto;
  }
  .button-container {
    width: 300px;
    margin-right: auto;
  }
  .past-works-button {
    /* Our sidebar item styling */
  font-size: 14px;
  border-radius: 25%;
  height: 60px;
  width: 80px;
}

  #inner-box > h1 {
    font-size: 24px;
    width: 275px;
  }

  #inner-box > p {
    font-size: 12x;
    width: 275px;
  }
}